<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>M^2ood</title>
    <!-- Favicon icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename = 'images/m2ood-white.png')}}">
    <!-- Pignose Calender -->
    <link href="{{url_for('static', filename = 'plugins/pg-calendar/css/pignose.calendar.min.css')}}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/chartist/css/chartist.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css')}}">

    <!-- Custom Stylesheet -->
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">

</head>

<body>
 
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="{{ url_for('index') }}">
                    <!--<b class="logo-abbr"><img src="{{url_for('static', filename = 'images/m2ood.png')}}" alt=""> </b>-->
                    <span class="logo-compact"><img src="{{url_for('static', filename = 'images/m2ood-white.png')}}" alt=""></span>
                    <span class="brand-title">
                        <img id="shitlogo" src="{{url_for('static', filename = 'images/m2ood-white.png')}}" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-right">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="{{url_for('static', filename = 'images/user/1.png')}}" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="{{ url_for('app_profile') }}"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <hr class="my-2">
                                        <li><a href="{{ url_for('page_login') }}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                    </li>
                    <li class="mega-menu mega-menu-sm"></li>
                    <li>
                        <li><a href="{{ url_for('app_profile') }}">Profile</a></li>
                    </li>
                    <li>
                        <li><a href="{{ url_for('page_login') }}">Login</a></li>
                        <li><a href="{{ url_for('page_register') }}">Register</a></li>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Sleep 🌙</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">8h32m</h2> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                 <h3 class="card-title text-white">Heart Rate 🤍</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">80 BPM</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                 <h3 class="card-title text-white">Steps 🐾</h3> 
                                <div class="d-inline-block">
                                    <h2 class="text-white">4565</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Mood</h3>
                                <button class="emoji-button" > 🙁 </button>
                                <button class="emoji-button" > 😄 </button>
                                <button class="emoji-button" > 😡 </button>
                                <button class="emoji-button" > 🤨 </button>
                                 <!-- <div style="font-size:2rem;width:50%;t">  -->
                                
                                    

                                 <!-- </div>  -->
                                <div class="d-inline-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="#" class="form-profile">
                                <div class="form-group">
                                    <textarea class="form-control" name="textarea" id="textarea" cols="30" rows="2" placeholder="Daily Reflection"></textarea>
                                </div>
                                <div class="d-flex align-items-center">
                                    <ul class="mb-0 form-profile__icons">
                                        <li class="d-inline-block">
                                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-user"></i></button>
                                        </li>
                                        <li class="d-inline-block">
                                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-paper-plane"></i></button>
                                        </li>
                                        <li class="d-inline-block">
                                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-camera"></i></button>
                                        </li>
                                        <li class="d-inline-block">
                                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-smile"></i></button>
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary px-3 ml-4">Keep Record</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
            <table class = "calendartable">
                <summary><strong>October</strong> 2023</summary>
                <thead class = "weeks">
                  <tr class = "calrow">
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                  </tr>
                </thead>
                <tr class = "calrow">
                  <td class="happy">
                    <span class="date"> 1</span>
                  </td>
                  <td class="angry">
                    <span class="date">2  </span>
                  </td>
                  <td class = "sad">
                    <span class="date">3</span>
                  </td>
                  <td class = "sad">
                    <span class="date">4</span>
                  </td>
                  <td class = "sad">
                    <span class="date">5</span>
                  </td>
                  <td class = "sad">
                    <span class="date">6</span>
                  </td>
                  <td class = "sad">
                    <span class="date">7</span>
                  </td>
                </tr>
                <tr class = "calrow">
                  <td class="angry">
                    <span class="date">8</span>
                  </td>
                  <td class="confused">
                    <span class="date">9</span>
                  </td>
                  <td class = "happy">
                    <span class="date">10</span>
                  </td>
                  <td class = "happy">
                    <span class="date">11</span>
                  </td>
                  <td class = "happy">
                    <span class="date">12</span>
                  </td>
                  <td class = "sad">
                    <span class="date">13</span>
                  </td>
                  <td class = "happy">
                    <span class="date">14</span>
                  </td>
                </tr>
                <tr class="previous-week">
                  <td class = "happy">
                    <span class="date">15</span>
                  </td>
                  <td class = "confused">
                    <span class="date">16</span>
                  </td>
                  <td class = "happy">
                    <span class="date">17</span>
                  </td>
                  <td class = "happy">
                    <span class="date">18</span>
                  </td>
                  <td class = "happy">
                    <span class="date">19</span>
                  </td>
                  <td class = "angry">
                    <span class="date">20</span>
                  </td>
                  <td class = "angry">
                    <span class="date">21</span>
                  </td>
                </tr>
                <tr class="current-week">
                  <td class="current-day">
                    <span class="date">22</span>
                  </td>
                  <td class="weekend">
                    <span class="date">23</span>
                  </td>
                  <td>
                    <span class="date">24</span>
                  </td>
                  <td>
                    <span class="date">25</span>
                  </td>
                  <td>
                    <span class="date">26</span>
                  </td>
                  <td>
                    <span class="date">27</span>
                  </td>
                  <td>
                    <span class="date">28</span>
                  </td>
                </tr>
                <tr class = "calrow">
                  <td>
                    <span class="date">29</span>
                  </td>
                  <td>
                    <span class="date">30</span>
                  </td>
                  <td>
                    <span class="date">31</span>
                  </td>
                </tr>
            </table>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{{url_for('static', filename = 'plugins/common/common.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/custom.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/settings.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/gleek.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/styleSwitcher.js')}}"></script>

    <!-- Chartjs -->
    <script src="{{url_for('static', filename = 'plugins/chart.js/Chart.bundle.min.js')}}"></script>
    <!-- Circle progress -->
    <script src="{{url_for('static', filename = 'plugins/circle-progress/circle-progress.min.js')}}"></script>
    <!-- Datamap -->
    <script src="{{url_for('static', filename = 'plugins/d3v3/index.js')}}"></script>
    <script src="{{url_for('static', filename = 'plugins/topojson/topojson.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'plugins/datamaps/datamaps.world.min.js')}}"></script>
    <!-- Morrisjs -->
    <script src="{{url_for('static', filename = 'plugins/raphael/raphael.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'plugins/morris/morris.min.js')}}"></script>
    <!-- Pignose Calender -->
    <script src="{{url_for('static', filename = 'plugins/moment/moment.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'plugins/pg-calendar/js/pignose.calendar.min.js')}}"></script>
    <!-- ChartistJS -->
    <script src="{{url_for('static', filename = 'plugins/chartist/js/chartist.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js')}}"></script>



    <script src="../js/dashboard/dashboard-1.js"></script>

    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer">
    </script>

</body>

</html>
